figure {

    float: left;
    padding:0px;
}

img{
    max-height: 200px;
    width: 200px;
}

.Box2
{
    filter:grayscale(1);
}
.Box3
{
    filter:Blur(2px);
}
.Box4
{
    filter:invert(80%);
}
.Box5
{
    filter:brightness(50%);
}
.Box6
{
    filter: saturate(4);
}

.Box7
{
    filter:sepia(1);
}

.Box8
{
    filter:invert(80%) brightness(50%) saturate(4);


}


